* {
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.App .column {
  width: 30%;
}

.droppable-col {
  width: 100%;
  height: 600px;
  border: 1px solid gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.item {
  height: 50px;
  background-color: gray;
  color: aquamarine;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 2px;
  border-radius: 8px;
  text-align: center;
}
