body {
  box-sizing: content-box;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.column {
  height: 400px;
  width: 600px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  margin-bottom: 5px;
  background: grey;
  color: aquamarine;
  border-radius: 10px;
  user-select: none;
}
